<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>VodĂˇckĂ˝ kurz</h1>
    <div class="nav-bar">
        <a href="/" class="nav">Home</a>
        <a href="/registrace" class="nav">Registrace</a>
        <a href="#" class="nav">Soon</a>
        <a href="#" class="nav">Soon</a>
    </div>
</body>
</html>

<style>

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #020642;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
}

:root {
	--clr-primary: #0011ff;
}
.nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav {
	position: relative;
	padding: 0.5em 1em;
	color: #777;
	font-size: 1.6em;
	text-align: center;
	text-decoration: none;
	font-family: Inter, Arial;
	font-weight: 600;
	transition: color 0.3s ease-out;
}
.nav::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-primary);
	transform: scaleY(0);
	transition: transform 0.3s ease-out;
	mix-blend-mode: difference;
	transform-origin: bottom;
}
.nav:hover {
	color: var(--clr-primary);
}
.nav:focus {
	color: var(--clr-primary);
}
.nav:focus::before {
	transform: scaleY(1) scaleX(1);
	transform-origin: top;
}
.nav:nth-child(2n):focus::before {
	transform-origin: bottom;
}
.nav:nth-child(2n)::before {
	transform-origin: top;
}


</style>

